<!DOCTYPE html>
<html class="dyn orchard-blogs" lang="en-US">  
    <head>         
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">         
        <meta charset="utf-8">         
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">         
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="description" content="Free online convert of url to pdf or embedding print pdf button to any web page.">     
        <title>{{#if title}}{{{title}}}{{else}}Web Page To Pdf Free Convert{{/if}}     
        </title>         
        <link rel="stylesheet" href="/css/pagetopdf.min.css?v=1">         
        <link href="/img/pdf-ico.png" rel="shortcut icon" type="image/x-icon">  
        <script src="/js/pagetopdf.min.js?v=1"> </script>               
    </head>  
    <body class="metro" onload="prettyPrint()">          
        <div id="wrap" class="bg-grayLighter">         
            <header class="bg-dark" data-load="header.html">               
                <div class="navigation-bar dark">                     
                    <div class="navigation-bar-content container">                          
                        <a class="element brand" href="/">                                     
                            <div class="brand-logo"></div>
                        </a>     
                       
                        <div class="element place-right bg-grayLight">
                            <a href="http://jsreport.net/about">       
                                <span class="fg-white">CONTACT</span>
                            </a> 
                         </div>   

                        <div class="element place-right bg-green">
                            <span class="fg-white">FREE</span>
                        </div>                        
                        <div class="element place-right bg-blue">
                            <a href="https://github.com/jsreport/jsreport">       
                                <span class="icon-github fg-white">
                                </span> 
                                <span class="fg-white">OPEN SOURCE </span>
                            </a> 
                        </div>   
                        <a class="element brand place-right" href="http://jsreport.net">                                     
                             <div class="jsreport-logo-nav"></div>
                        </a>                       
                    </div>               
                </div>         
            </header>                                
            <div class="grid">{{{fixCoding body}}}       
            </div> 
        </div>  
        <div class="bg-dark block4">                   
            <div class="container">                         
                <div class="grid no-margin">                               
                    <div class="row no-margin">                                     
                        <a href="http://jsreport.net">
                            <h2 class="fg-white center">powered by reporting platform</h2>
                            <span class="jsreport-logo"></span>         
                        </a>                                                 
                        <div id="footer" class="bg-dark">            
                            <div class="fg-grayLighter center">           
                            </div>                 
                        </div>            
                              
                    </div>                         
                </div>                   
            </div>             
        </div>  
        
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-50552070-1', 'pagetopdf.com');
            ga('send', 'pageview');

</script>  
    </body>
</html>